.card {
    position: relative;
    &:hover {
        .card-hover {
            display: block;
            &::after {
                 animation: translateYAnimation 0.3s ease forwards;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
                z-index: 1;
            }
        }
    }
    .card-hover {
        display: none;

        .chitiet {
            animation: translateYChitiet 0.3s ease forwards;
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99999999;
            cursor: pointer;
            .chitiet-btn {
                position: relative;
                z-index: 99999999;
            }
        }
    }
}

// config slide related

.slick-list {
    margin: 0 -10px;
}
.slick-slide > div {
    padding: 0 10px;
}

@keyframes translateYAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.5;
    }
}

@keyframes translateYChitiet {
    0% {
        transform: translate(-50%, -80%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
